<ion-header>
  <ion-toolbar>
    <ion-title>
      Login Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Login</ion-label>
    <ion-textarea clearOnEdit="true" placeholder="Username"></ion-textarea>
    <ion-textarea clearOnEdit="true" placeholder="Password"></ion-textarea>
  </ion-item>
  <p>I included buttons to all the pages here for ease of testing.</p>
  <ion-button expand="full" (click)="navToProfile()">Navigate to Profile</ion-button>
  <ion-button expand="full" (click)="navToSaved()">Navigate to Saved</ion-button>
  <ion-button expand="full" (click)="navToInbox()">Navigate to Inbox</ion-button>
  <ion-button expand="full" (click)="navToTrips()">Navigate to Trips</ion-button>
  
</ion-content>
